<a href="https://colab.research.google.com/github/Supriyaasapkota/DataScience-Analytics/blob/main/DS%26A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame({"Bob":["I liked it","It was awful."],"Sue":["Pretty good","Bland."]})

             Bob          Sue
0     I liked it  Pretty good
1  It was awful.       Bland.

In [ ]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:
df=pd.read_csv("drivers.csv")

In [ ]:
df.shape

(150, 12)

In [ ]:
df.head(6)

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
0,DRV00001,Jennifer,Hernandez,2014-10-31,NaN,DL673510887,WA,1973-11-07,Denver,Active,A,3
1,DRV00002,William,Martin,2020-10-02,NaN,DL128955006,GA,1976-11-03,Columbus,Active,A,20
2,DRV00003,Charles,Hernandez,2021-09-21,NaN,DL523076025,NC,1970-04-06,Salt Lake City,Active,A,19
3,DRV00004,Barbara,Brown,2013-09-08,NaN,DL735540030,WA,1995-02-06,Denver,Active,A,19
4,DRV00005,Mary,Martinez,2018-12-02,NaN,DL706011277,AZ,1960-07-15,Chicago,Active,A,12
5,DRV00006,Robert,Taylor,2019-04-04,NaN,DL811890569,NC,1990-05-02,Portland,Active,A,23

In [ ]:
df.driver_id #column lai herna

0      DRV00001
1      DRV00002
2      DRV00003
3      DRV00004
4      DRV00005
         ...
145    DRV00146
146    DRV00147
147    DRV00148
148    DRV00149
149    DRV00150
Name: driver_id, Length: 150, dtype: object

In [ ]:
df["employment_status"]

0      Active
1      Active
2      Active
3      Active
4      Active
        ...
145    Active
146    Active
147    Active
148    Active
149    Active
Name: employment_status, Length: 150, dtype: object

In [ ]:
df["first_name"][1]

'William'

In [ ]:
df.iloc[0] #iloc le chai location denote

driver_id               DRV00001
first_name              Jennifer
last_name              Hernandez
hire_date             2014-10-31
termination_date             NaN
license_number       DL673510887
license_state                 WA
date_of_birth         1973-11-07
home_terminal             Denver
employment_status         Active
cdl_class                      A
years_experience               3
Name: 0, dtype: object

In [ ]:
df.iloc[1:7]

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
1,DRV00002,William,Martin,2020-10-02,NaN,DL128955006,GA,1976-11-03,Columbus,Active,A,20
2,DRV00003,Charles,Hernandez,2021-09-21,NaN,DL523076025,NC,1970-04-06,Salt Lake City,Active,A,19
3,DRV00004,Barbara,Brown,2013-09-08,NaN,DL735540030,WA,1995-02-06,Denver,Active,A,19
4,DRV00005,Mary,Martinez,2018-12-02,NaN,DL706011277,AZ,1960-07-15,Chicago,Active,A,12
5,DRV00006,Robert,Taylor,2019-04-04,NaN,DL811890569,NC,1990-05-02,Portland,Active,A,23
6,DRV00007,James,Martinez,2019-07-02,2021-05-17,DL129100607,PA,1974-05-23,Miami,Terminated,A,5

In [ ]:
df.first_name=="William"

0      False
1       True
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: first_name, Length: 150, dtype: bool

In [ ]:
df.last_name=="Hernandez"

0       True
1      False
2       True
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: last_name, Length: 150, dtype: bool

In [ ]:
df.loc[df.first_name=="Sarah"]

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
9,DRV00010,Sarah,Gonzalez,2020-11-08,NaN,DL560219456,WA,1974-05-26,Minneapolis,Active,A,23
69,DRV00070,Sarah,Anderson,2014-12-15,NaN,DL275842194,PA,1974-07-02,Indianapolis,Active,A,16
125,DRV00126,Sarah,Jackson,2012-10-14,NaN,DL389998761,TX,1981-02-15,Minneapolis,Active,A,25
138,DRV00139,Sarah,Davis,2014-08-27,NaN,DL363598427,MN,1986-02-05,Charlotte,Active,A,14

In [ ]:
df.loc[(df.first_name=="Mary") | (df.last_name=="Martinez")]

,driver_id,first_name,last_name,hire_date,termination_date,license_number,license_state,date_of_birth,home_terminal,employment_status,cdl_class,years_experience
4,DRV00005,Mary,Martinez,2018-12-02,NaN,DL706011277,AZ,1960-07-15,Chicago,Active,A,12
6,DRV00007,James,Martinez,2019-07-02,2021-05-17,DL129100607,PA,1974-05-23,Miami,Terminated,A,5
10,DRV00011,Michael,Martinez,2014-06-01,NaN,DL245706210,FL,1972-07-04,Dallas,Active,A,15
19,DRV00020,Joseph,Martinez,2019-07-21,NaN,DL450948014,TX,1965-10-02,Houston,Active,A,18
23,DRV00024,Barbara,Martinez,2021-09-15,NaN,DL398775766,OH,1961-11-27,Dallas,Active,A,17
24,DRV00025,Jessica,Martinez,2015-09-17,NaN,DL907464398,NE,1977-10-02,Omaha,Active,A,9
38,DRV00039,Thomas,Martinez,2013-06-29,NaN,DL173678414,TX,1994-08-14,Columbus,Active,A,22
42,DRV00043,Mary,Williams,2017-04-06,NaN,DL909851739,CO,1963-04-09,Nashville,Active,A,23
44,DRV00045,Thomas,Martinez,2018-11-20,NaN,DL365518424,OH,1988-12-16,New York,Active,A,10
54,DRV00055,Mary,Anderson,2012-07-01,NaN,DL705557720,FL,1990-08-08,New York,Active,A,6
93,DRV00094,Mary,Taylor,2017-11-29,NaN,DL964929067,OH,1971-03-06,New York,Active,A,15
99,DRV00100,Jennifer,Martinez,2019-01-04,NaN,DL472807202,NC,1960-08-10,Memphis,Active,A,15
112,DRV00113,Mary,Williams,2017-09-30,NaN,DL213321496,CA,1974-10-26,Milwaukee,Active,A,21
120,DRV00121,Mary,Miller,2012-07-20,NaN,DL567600762,IL,1986-03-07,Las Vegas,Active,A,11
130,DRV00131,Linda,Martinez,2019-01-01,2021-02-17,DL619151495,NV,1976-09-04,Seattle,Terminated,A,19
132,DRV00133,Mary,Wilson,2019-08-21,NaN,DL567694547,MO,1976-10-13,Seattle,Active,A,9

In [ ]:
df.hire_date.dtype #date lai chai object datatype

dtype('O')

In [ ]:
df.years_experience.dtype

dtype('int64')